.header {
    color: var(--text-primary);
    width: page;
    background-color: var(--background);
    border-color: var(--text-primary);
    /* border-radius: 5 px; */
    border-bottom: 5px;
}
.header div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}

.header div img {
  height: 58px;
  object-fit: cover;
  align-items: center;
}

.header h1 {
    justify-content: left;
    font-size: 58px;
    align-items: center;
    padding: 10px;
}