.page {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

@media (min-width: 768px) {
    .page {
        background-attachment: fixed;
    }
}