.res_sidenav {
    background-color: aliceblue;
    display: block;
    margin: 10px;
    padding: 25px;
    height: auto;
    border-radius: 4px;
    position: sticky;
    top: 100px;
    height: fit-content;
    min-width: 250px;
    color: var(--background);
}

.res_sidenav :link {
    color: var(--background);
}