.res_sidenav {
    background-color: aliceblue;
    display: block;
    margin: 10px auto;
    padding: 18px;
    height: auto;
    border-radius: 4px;
    height: fit-content;
    width: min(100%, 320px);
    min-width: 0;
    box-sizing: border-box;
    color: var(--background);
}

/* .res_sidenav :link {
    color: var(--background);
} */

.res_sidenav :link, .res_sidenav :link:visited {
    color: var(--background);
    text-decoration: none;
}

@media (min-width: 900px) {
    .res_sidenav {
        margin: 10px;
        padding: 25px;
        min-width: 250px;
        width: auto;
    }
}