.page {
    margin: auto;
}


.page iframe {
    border: 0;
    width: 800;
    height: 600;
}

.page div {
    display: flex;
    justify-content: center; 
}
.page div div {
    display: flex;
    justify-content: center; 
}